<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebAccessServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52500/WebAccessService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebAccessServiceSoap"
                contract="WebAccessService.WebAccessServiceSoap" name="WebAccessServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>