<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UFO.Server.Web.REST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.14.0" newVersion="4.2.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <UFO.Server.Web.REST.Properties.Settings>
      <setting name="WebAccessService" serializeAs="String">
        <value>http://localhost:5002/WebAccessService.asmx</value>
      </setting>
      <setting name="DaoProviderClassName" serializeAs="String">
        <value>DaoProviderFactory</value>
      </setting>
      <setting name="DaoProviderNameSpace" serializeAs="String">
        <value>UFO.Server.Dal.MySql</value>
      </setting>
      <setting name="DaoProviderAssemblyName" serializeAs="String">
        <value>UFO.Server.Dal.MySql</value>
      </setting>
      <setting name="BllProviderClassName" serializeAs="String">
        <value>BllProviderFactory</value>
      </setting>
      <setting name="BllProviderNameSpace" serializeAs="String">
        <value>UFO.Server.Bll.Impl</value>
      </setting>
      <setting name="BllProviderAssemblyName" serializeAs="String">
        <value>UFO.Server.Bll.Impl</value>
      </setting>
      <setting name="DbConnectionString" serializeAs="String">
        <value>Server=localhost;Database=ufo;Uid=root;Pwd=;</value>
      </setting>
      <setting name="DbProviderName" serializeAs="String">
        <value>MySQL Data Provider</value>
      </setting>
      <setting name="EmailNotificationPort" serializeAs="String">
        <value>465</value>
      </setting>
      <setting name="EmailNotificationServer" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="EmailNotificationPassword" serializeAs="String">
        <value>dnemtest1234</value>
      </setting>
      <setting name="EmailNotificationUsername" serializeAs="String">
        <value>notificationdummy@gmail.com</value>
      </setting>
    </UFO.Server.Web.REST.Properties.Settings>
  </applicationSettings>
</configuration>