<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_AdminAccessWs" />
                <binding name="WSHttpBinding_ViewAccessWs" />
                <binding name="WSHttpBinding_ViewAccessWs1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/ViewAccess" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ViewAccessWs" contract="Services.ViewAccess.ViewAccessWs"
                name="WSHttpBinding_ViewAccessWs">
                <identity>
                    <userPrincipalName value="XPITFIRE-PC\dinum_000" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4321/ViewAccess" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ViewAccessWs1" contract="Services.AdminAccess.ViewAccessWs"
                name="WSHttpBinding_ViewAccessWs1">
                <identity>
                    <userPrincipalName value="XPITFIRE-PC\dinum_000" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4321/AdminAccess" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_AdminAccessWs" contract="Services.AdminAccess.AdminAccessWs"
                name="WSHttpBinding_AdminAccessWs">
                <identity>
                    <userPrincipalName value="XPITFIRE-PC\dinum_000" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
