<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.14.0" newVersion="4.2.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAdminAccessBll" />
        <binding name="WSHttpBinding_IViewAccessBll" />
        <binding name="WSHttpBinding_IAdminAccessBll1" />
        <binding name="WSHttpBinding_IViewAccessBll1" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4321/AdminAccess" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IAdminAccessBll" contract="Services.AdminAccess.IAdminAccessBll"
          name="WSHttpBinding_IAdminAccessBll">
        <identity>
          <userPrincipalName value="XPITFIRE-PC\dinum_000" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:4321/ViewAccess" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IViewAccessBll" contract="Services.AdminAccess.IViewAccessBll"
          name="WSHttpBinding_IViewAccessBll">
        <identity>
          <userPrincipalName value="XPITFIRE-PC\dinum_000" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:4321/AdminAccess" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IAdminAccessBll1" contract="Services.ViewAccess.IAdminAccessBll"
          name="WSHttpBinding_IAdminAccessBll1">
        <identity>
          <userPrincipalName value="XPITFIRE-PC\dinum_000" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:4321/ViewAccess" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IViewAccessBll1" contract="Services.ViewAccess.IViewAccessBll"
          name="WSHttpBinding_IViewAccessBll1">
        <identity>
          <userPrincipalName value="XPITFIRE-PC\dinum_000" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
