<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UFO.Server.Bll.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UFO.Server.Bll.Common.Properties.Settings>
            <setting name="BllProviderClassName" serializeAs="String">
                <value>BllProviderFactory</value>
            </setting>
            <setting name="BllProviderNameSpace" serializeAs="String">
                <value>UFO.Server.Bll.Impl</value>
            </setting>
            <setting name="BllProviderAssemblyName" serializeAs="String">
                <value>UFO.Server.Bll.Impl</value>
            </setting>
            <setting name="EmailNotificationPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EmailNotificationServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="EmailNotificationPassword" serializeAs="String">
                <value>dnemtest1234</value>
            </setting>
            <setting name="EmailNotificationUsername" serializeAs="String">
                <value>notificationdummy@gmail.com</value>
            </setting>
        </UFO.Server.Bll.Common.Properties.Settings>
    </applicationSettings>
</configuration>