<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAuthAccessBll" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/AuthAccessBll" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAuthAccessBll" contract="Server.IAuthAccessBll"
                name="WSHttpBinding_IAuthAccessBll">
                <identity>
                    <userPrincipalName value="XPITFIRE-PC\dinum_000" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>