<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FH.SEv.UFO.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FH.SEv.UFO.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <FH.SEv.UFO.Server.Properties.Settings>
      <setting name="DaoProviderName" serializeAs="String">
        <value>FH.SEv.UFO.Server.Provider.Impl.DummyDaoProviderFactory</value>
      </setting>
    </FH.SEv.UFO.Server.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <FH.SEv.UFO.Server.Properties.Settings>
      <setting name="DbConnectionString" serializeAs="String">
        <value>Server=localhost;Database=ufo;Uid=root;Pwd=;</value>
      </setting>
      <setting name="DbProviderName" serializeAs="String">
        <value>MySQL Data Provider</value>
      </setting>
    </FH.SEv.UFO.Server.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>