.artist-img-td {
    width: 200px !important;
}

.artist-img {
    width: 120px !important;
    display: block !important;
    margin: 2px !important;
}

.artist-img-big {
    width: 300px !important;
    display: block !important;
    margin: 2px !important;
}

.ui-widget-content div a.ui-link.ui-widget.artist-link {
    color: #fff;
    margin: 5px;
}

.ui-widget-content div .ui-commandlink.ui-widget.artist-link-cancel {
    color: #A92323;
}

.ui-widget-content div .ui-commandlink.ui-widget.artist-link-edit {
    color: #0C0569;
}

.artist-table {
    border-color: #EAEAEA !important;
    min-width: 120px !important;
    max-width: 120px !important;
}

.ui-panelgrid td.ui-panelgrid-cell {
    padding: 0px;
    height: 2em;
    position: relative;
}

.ui-datascroller li.ui-datascroller-item:hover {
    background-color: #d2ecff;
}